* {
    font-family: Poppins, sans-serif;
}

.time{
    color: #000000;
    margin: 10px 0;
}

.schedule {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  
  .schedule h3,
  .schedule p {
    margin: 0; 
  }

  .map_img {
    width: 30%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  #block1 {
    background-color: rgb(225, 225, 225);
  }



  